<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrossPay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C6E37DA21F2BA30500161C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E37DBE1F2BA30700161C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6E37DC91F2BA30900161C18</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
